<% url = "/node/#{host}/#{port}" %>
<%# Launch Jupyter Lab but redirect to classic notebook if chosen %>
<form action="<%= url -%>/login<%= "?next=#{url}/tree" if jp_type == "notebook"%>" method="post" target="_blank">
  <input type="hidden" name="password" value="<%= password %>">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Jupyter
  </button>
</form>
